{% extends 'base.html.twig' %}

{% block title %}ClashROyaleAPI App | Player Battles{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center mb-4">Player Battles</h1>
		
		<ul class="nav justify-content-end mb-3">
			<li class="nav-item">
		    	<a class="nav-link active" href="/player/{{ tag }}">See Player</a>
		 	</li>
			<li class="nav-item">
		    	<a class="nav-link active" href="/chests/{{ tag }}">See Upcoming Chests</a>
		 	</li>
		</ul>

		{% for battle in data %}
		    {% if battle.teamCrowns - battle.opponentCrowns > 0 %}
		    	{% set isWin = 'success' %}
		    	{% set isLose = 'danger' %}
		    {% elseif battle.teamCrowns - battle.opponentCrowns == 0 %}
		    	{% set isWin = 'secondary' %}
		    {% else %}
		    	{% set isWin = 'danger' %}
		    	{% set isLose = 'success' %}
		    {% endif %}

			<div class="card text-dark border-{{ isWin }} bg-light mb-5">
				<div class="card-header row m-0 text-{{ isWin }}">
				    <div class="col-3">
					    {% if isWin == 'success' %}
					    	<h4 class="text-capitalize align-middle">Victory</h4>
					    {% elseif isWin == 'secondary' %}
					    	<h4 class="text-capitalize align-middle">Draw</h4>
					    {% elseif isWin == 'danger' %}
					    	<h4 class="text-capitalize align-middle">Defeat</h4>
					    {% endif %}
				   	</div>
				   	<div class="col-6">
				   		<h4 class="text-center">{{ battle.teamCrowns }} - {{ battle.opponentCrowns }}</h4>
				   	</div>
				</div>
				<div class="card-body row m-0">
					<div class="col-5">
				    	<h5 class="card-title"><a href="/player/{{ battle.team.0.tag }}">{{ battle.team.0.name }}</a></h5>
				    	<h6 class="font-italic"><img class="img-fluid" src="{{ battle.team.0.clan.badge.image }}" width="23"> {{ battle.team.0.clan.name }}</h6>
				    	<h6>
				    		{% if battle.team.0.startTrophies is defined %}
				    			<span class="badge badge-pill badge-warning">{{ battle.team.0.startTrophies }}</span>
				    		{% endif %}
				    		{% if battle.team.0.trophyChange is defined %}
				    			<span class="badge badge-pill badge-{{ isWin }}">{{ battle.team.0.trophyChange }}</span>
				    		{% endif %}
				    	</h6>
				    	{% for key, card in battle.team.0.deck %}
				    		<img class="img-fluid" src="{{ card.icon }}" width="100" height="100">
				    		<!-- <span class="badge badge-dark float-left">{{ card.level }}</span> -->
			    		{% endfor %}
				    </div>
				    <div class="col-2">
				    	<p class="text-center">
				    		{% if battle.mode.name == 'Ladder' %}
								<img src="{{ asset('assets/img/icons/battleIcon.png') }}" width="100">
				    		{% elseif battle.mode.name == 'Tournament' %}
								<img src="{{ asset('assets/img/icons/tournamentIcon.png') }}" width="100">
				    		{% endif %}
			    		</p>
				    </div>
				    <div class="col-5 text-right">
				    	<h5 class="card-title"><a href="/player/{{ battle.opponent.0.tag }}">{{ battle.opponent.0.name }}</a></h5>
				    	<h6 class="font-italic">{{ battle.opponent.0.clan.name }} <img class="img-fluid" src="{{ battle.opponent.0.clan.badge.image }}" width="23"></h6>
				    	<h6>
				    		{% if battle.opponent.0.trophyChange is defined %}
				    			<span class="badge badge-pill badge-{{ isLose }}">{{ battle.opponent.0.trophyChange }}</span>
				    		{% else %}
				    			<span class="badge badge-pill badge-{{ isLose }}">0</span>
				    		{% endif %}
				    		{% if battle.opponent.0.startTrophies is defined %}
				    			<span class="badge badge-pill badge-warning">{{ battle.opponent.0.startTrophies }}</span>
				    		{% else %}
				    			<span class="badge badge-pill badge-warning">0</span>
				    		{% endif %}
				    	</h6>
				    	{% for key, card in battle.opponent.0.deck %}
				    		<img class="img-fluid" src="{{ card.icon }}" width="100" height="100">
				    		<!-- <span class="badge badge-dark float-left">{{ card.level }}</span> -->
			    		{% endfor %}
				    </div>
				</div>
				<div class="card-footer text-muted">
			    	{{ battle.utcTime|date('d/m/Y H:i') }}
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
