{% extends 'base.html.twig' %}

{% block title %}ClashRoyaleAPI | {{ player.name }}'s Upcoming Chests{% endblock %}

{% block body %}
	<div class="container mb-5">
		<h1 class="text-center mb-4">{{ player.name }}'s Upcoming Chests</h1>
		
		<ul class="nav justify-content-end mb-3">
			<li class="nav-item">
		    	<a class="nav-link active" href="/player/{{ tag }}">Player</a>
		 	</li>
			<li class="nav-item">
		    	<a class="nav-link active" href="/battles/{{ tag }}">Battles</a>
		 	</li>
		</ul>
		
		<ul class="nav mb-5">
			{% for nextChest in data.upcoming %}
				{% if nextChest == 'silver' %}
					<img src="{{ asset('assets/img/chests/silverChest.png') }}" width="150" height="200">
				{% elseif nextChest == 'gold' %}
					<img src="{{ asset('assets/img/chests/goldChest.png') }}" width="150" height="200">
				{% elseif nextChest == 'giant' %}
					<img src="{{ asset('assets/img/chests/giantChest.png') }}" width="150" height="200">
				{% elseif nextChest == 'epic' %}
					<img src="{{ asset('assets/img/chests/epicChest.png') }}" width="150" height="200">
				{% elseif nextChest == 'legendary' %}
					<img src="{{ asset('assets/img/chests/legendaryChest.png') }}" width="150" height="200">
				{% elseif nextChest == 'magical' %}
					<img src="{{ asset('assets/img/chests/magicalChest.png') }}" width="150" height="200">
				{% elseif nextChest == 'superMagical' %}
					<img src="{{ asset('assets/img/chests/superMagicalChest.png') }}" width="150" height="200">
				{% else %}
					<img src="{{ asset('assets/img/dontKnow.png') }}" width="150" height="200">
				{% endif %}
			{% endfor %}
		</ul>

		<hr>

		<img src="{{ asset('assets/img/chests/giantChest.png') }}" width="150"> <span class="badge badge-pill badge-success">{{ data.giant }}</span>
		<img src="{{ asset('assets/img/chests/epicChest.png') }}" width="150"> <span class="badge badge-pill badge-success">{{ data.epic }}</span>
		<img src="{{ asset('assets/img/chests/legendaryChest.png') }}" width="150"> <span class="badge badge-pill badge-success">{{ data.legendary }}</span>
		<img src="{{ asset('assets/img/chests/magicalChest.png') }}" width="150"> <span class="badge badge-pill badge-success">{{ data.magical }}</span>
		<img src="{{ asset('assets/img/chests/superMagicalChest.png') }}" width="150"> <span class="badge badge-pill badge-success">{{ data.superMagical }}</span>
	</div>
{% endblock %}
