{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
	<style>
	    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
	    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
	</style>

	<div class="col-12">
		<h1 class="text-center mb-4">Open Tournaments Clash Royale</h1>

		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Max Players</th>
					<th>Current Players</th>
					<th>Status</th>
					<th>Create Time</th>
					<th>Duration</th>
				</tr>
			</thead>
			<tbody>
				{% for tournament in data %}
					{% if tournament.currentPlayers != tournament.maxPlayers %}
						<tr>
							<td>{{ tournament.name }}</td>
							<td>{{ tournament.maxPlayers }}</td>
							<td>{{ tournament.currentPlayers }}</td>
							<td>{{ tournament.status }}</td>
							<td>{{ tournament.createTime|date('d/m/Y H:i') }}</td>
							<td>{{ tournament.duration|date('H:i') }}</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
