{% extends 'base.html.twig' %}

{% block title %}ClashRoyaleAPI | {{ data.name }} {% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center">{{ data.name }}</h1>
		<blockquote class="blockquote text-center">
  			<footer class="blockquote-footer">{{ data.tag }}</footer>
		</blockquote>

		<h2 class="text-center mb-4">
			<span class="badge badge-pill badge-warning"><i class="fas fa-trophy"></i> {{ data.trophies }}</span>
			{% if data.rank is not null %}
				<span class="badge badge-pill badge-success"><i class="fas fa-list-ol"></i> #{{ data.rank }}</span>
			{% endif %}
		</h2>
		
		<ul class="nav justify-content-end mb-3">
			<li class="nav-item">
		    	<a class="nav-link active" href="/battles/{{ tag }}">Battles</a>
		 	</li>
			<li class="nav-item">
		    	<a class="nav-link active" href="/chests/{{ tag }}">Upcoming Chests</a>
		 	</li>
		</ul>

		<div class="row">
			<div class="col-6">
				<div class="card text-dark bg-light mb-5">
					<div class="card-header m-0">
						<h3>Arena</h3>
					</div>
					<div class="card-body row m-0">
						<div class="col-5">
							{% if data.arena.name == 'Challenger I' %}
								<img src="{{ asset('assets/img/leagues/challengerI.png') }}" width="109">
							{% elseif data.arena.name == 'Challenger II' %}
								<img src="{{ asset('assets/img/leagues/challengerII.png') }}" width="109">
							{% elseif data.arena.name == 'Challenger III' %}
								<img src="{{ asset('assets/img/leagues/challengerIII.png') }}" width="109">
							{% elseif data.arena.name == 'Master I' %}
								<img src="{{ asset('assets/img/leagues/masterI.png') }}" width="109">
							{% elseif data.arena.name == 'Master II' %}
								<img src="{{ asset('assets/img/leagues/masterII.png') }}" width="109">
							{% elseif data.arena.name == 'Master III' %}
								<img src="{{ asset('assets/img/leagues/masterIII.png') }}" width="109">
							{% elseif data.arena.name == 'Champion' %}
								<img src="{{ asset('assets/img/leagues/champion.png') }}" width="109">
							{% elseif data.arena.name == 'Grand Champion' %}
								<img src="{{ asset('assets/img/leagues/grandChampion.png') }}" width="109">
							{% elseif data.arena.name == 'Ultimate Champion' %}
								<img src="{{ asset('assets/img/leagues/ultimateChampion.png') }}" width="109">
							{% endif %}
						</div>
						<div class="col-7 mt-5">
							<h4>{{ data.arena.name }}</h4>
						</div>
					</div>
				</div>
			</div>

			<div class="col-6">
				<div class="card text-dark bg-light mb-5">
					<div class="card-header m-0">
						<h3>Clan</h3>
					</div>
					<div class="card-body m-0">
						<h4><img class="img-fluid" src="{{ data.clan.badge.image }}" width="23"> <a href="/clan/{{ data.clan.tag }}">{{ data.clan.name }}</h4></a>
						<blockquote class="blockquote">
							<footer class="blockquote-footer">{{ data.clan.tag }}</footer>
						</blockquote>
						<h5>{{ data.clan.role }}</h5>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12 pl-5 pr-5 mb-5 text-center">
			{% for key, card in data.currentDeck %}
	    		<img class="img-fluid" src="{{ card.icon }}" width="150" />
	    		<!-- <span class="badge badge-dark float-left">{{ card.level }}</span> -->
			{% endfor %}
		</div>

		<h2 class="mb-3"><i class="fas fa-chart-pie"></i> Statistics</h2>

		<div class="col-12">
			<div class="card text-dark bg-light mb-5">
				<div class="card-header m-0">
					<h3>Games</h3>
				</div>
				<div class="card-body row m-0">
					<div class="col-12 mb-2">
						<h4>Total : {{ data.games.total }}</h4>
						<h5>Tournaments : {{ data.games.tournamentGames }}</h5>
					</div>

					<div class="alert alert-success col-3" role="alert">
						<h4 class="alert-heading">Wins</h4>
						<p>{{ data.games.wins }}</p>
						<hr>
						<p class="mb-0">{{ data.games.winsPercent *100 }} %</p>
					</div>
					<div class="alert alert-secondary col-3 offset-1" role="alert">
						<h4 class="alert-heading">Draws</h4>
						<p>{{ data.games.draws }}</p>
						<hr>
						<p class="mb-0">{{ data.games.drawsPercent *100 }} %</p>
					</div>
					<div class="alert alert-danger col-3 offset-1" role="alert">
						<h4 class="alert-heading">Losses</h4>
						<p>{{ data.games.losses }}</p>
						<hr>
						<p class="mb-0">{{ data.games.lossesPercent *100 }} %</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-12">
			<div class="card text-dark bg-light mb-5">
				<div class="card-header m-0">
					<h3>League</h3>
				</div>
				<div class="card-body row m-0">
					{% if data.leagueStatistics.previousSeason is defined %}
						<div class="alert alert-secondary col-3" role="alert">
							<h4 class="alert-heading">Previous Season</h4>
							{% if data.leagueStatistics.previousSeason.trophies is defined %}
								<p>{{ data.leagueStatistics.previousSeason.trophies }}</p>
							{% endif %}
							<hr>
							{% if data.leagueStatistics.previousSeason.bestTrophies is defined %}
								<p class="mb-0">Best Trophies : {{ data.leagueStatistics.previousSeason.bestTrophies }}</p>
							{% endif %}
						</div>
					{% endif %}
					{% if data.leagueStatistics.currentSeason is defined %}
						<div class="alert alert-info col-3 offset-1" role="alert">
							<h4 class="alert-heading">Current Season</h4>
							{% if data.leagueStatistics.currentSeason.trophies is defined %}
								<p>{{ data.leagueStatistics.currentSeason.trophies }}</p>
							{% endif %}
							<hr>
							{% if data.leagueStatistics.currentSeason.bestTrophies is defined %}
								<p class="mb-0">Best Trophies : {{ data.leagueStatistics.currentSeason.bestTrophies }}</p>
							{% endif %}
						</div>
					{% if data.leagueStatistics.bestSeason is defined %}
					{% endif %}
						<div class="alert alert-success col-3 offset-1" role="alert">
							<h4 class="alert-heading">Best Season</h4>
							{% if data.leagueStatistics.bestSeason.trophies is defined %}
								<p>{{ data.leagueStatistics.bestSeason.trophies }}</p>
							{% endif %}
							<hr>
							<!-- <p class="mb-0">{{ data.leagueStatistics.bestSeason.id }}</p> -->
						</div>
					{% endif %}
				</div>
			</div>
		</div>

		<h2 class="mb-3"><i class="fas fa-id-card-alt"></i> Cards</h2>

		<div class="row">
			{% for key, card in data.cards %}
				<div class="col-lg-3 col-md-6 col-xs-12">
					<div class="card text-dark bg-light mb-5">
						<div class="card-header m-0">
							{% if card.rarity == 'Common' %}
								{% set level = card.level %}
							{% elseif card.rarity == 'Rare' %}
								{% set level = card.level + 2 %}
							{% elseif card.rarity == 'Epic' %}
								{% set level = card.level + 5 %}
							{% elseif card.rarity == 'Legendary' %}
								{% set level = card.level + 8 %}
							{% endif %}
							<h4>{{ card.name }} <span class="badge badge-dark float-right h5">{{ level }}</span></h4>
						</div>
						<div class="card-body row m-0">
							<img class="img-fluid" src="{{ card.icon }}" width="287" />
						</div>
						<div class="card-player-footer card-footer m-0 bg-success">
							<h6 class="mb-5">{{ card.count }} / {{ card.requiredForUpgrade }}</h6>
						</div>
					</div>
				</div>	
			{% endfor %}
		</div>
	</div>
{% endblock %}
